<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Watch Face Format packages carry no code; the platform runtime renders res/raw/watchface.xml -->
    <application
        android:hasCode="false"
        android:icon="@drawable/ic_1440"
        android:label="1440 Planner">

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="1" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>
</manifest>
